.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background-color: whitesmoke;
    position: absolute;
  }

.box1 {
    position: relative;
    border: 1px solid blue;
    padding: 50px;
    background: blue;
    width: 340px;
    height: 380px;
    border-radius: 8px;
    margin: 50px auto;
    margin-left: 450px;
    box-shadow: -1px -1px 10px 3px rgb(156, 153, 153);
    background: linear-gradient(90deg, #003153 0%, blue 100%);
}


.box2 {
    position: relative;
    border: 1px solid rgb(1, 1, 23);
    padding: 50px;
    background: white;
    width: 280px;
    height: 310px;
    border-radius: 8px;
    margin: -500px auto;
    margin-left: 100px;
    box-shadow: -1px -1px 10px 3px rgb(79, 75, 75);

}

.Welcome {
    color: azure;
    text-align: center;
    margin-top: 130px;
    font-size: 16px;
}

.details {
    color: white;
    text-align: center;
}

.signup {
    color: white;
    background-color: blue;
    display: block;
    margin: auto;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0px 1px 20px 1px rgb(0, 0, 129);
    width: 130px;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
}

.login {
    text-align: center;
    color: black;
    margin: 10px 20px;
    text-decoration: underline;
    font-size: 20px;
}

.remember {
    margin-top: center;
    color: black;
}

.forgot {
    margin-left: 165px;
    margin-top: -32px;
    font-size: 14px;
}


.label {
    padding-left: 16px;
    border: 1px solid;
    margin-top: 12px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
    color: gray;
    box-shadow: 1px 1px 7px -2px darkturquoise;
}


.label i {
    color:  #2a2626;
}

.label input {
    border: none;
    font-size: 16px;
    padding: 12px 0;
    outline: none;
    width: 80%;
}

.bar {
    color: gray;
}

.log-in {
    color: white;
    background-color: blue;
    display: block;
    margin: auto;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px;
    width: 130px;
    margin-top: 30px;
}



